<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <mat-toolbar color="primary" class="logo"> 
          <img  src="./../../../assets/images/logo.png" />
          Pizza House
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['order']">Order</a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['inprogress']">Inprogress</a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['completed']">Completed</a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['reports']">Reports</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" >
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async"
            >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <app-header></app-header>
        </mat-toolbar>
        <!-- Add Content Here -->
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-bottom-sheet></app-bottom-sheet>
